.content_base{
	padding-right: 100px;
	padding-left: 100px;
}

.btn_icon{

}

h2{
	padding-top: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
h1{
	padding-top: 50px;
}

input[type="text"]{
	border-color: #FFFFFF;
   padding: 7px;
   border-radius: 5px;
   border-width: 2px;

   -webkit-box-shadow: 1px 1px 0px #616568;
   -moz-box-shadow: 1px 1px 0px #616568;
   box-shadow: 1px 1px 0px #616568;
}

input[type="password"]{
	border-color: #FFFFFF;
   padding: 7px;
   border-radius: 5px;
   border-width: 2px;

   -webkit-box-shadow: 1px 1px 0px #616568;
   -moz-box-shadow: 1px 1px 0px #616568;
   box-shadow: 1px 1px 0px #616568;
}

input[type="text"]:focus{
   border-color: #4285F4;
   box-shadow: 1px 1px 1px #4285F4 
   inset, 1px 1px 0px#4285F4;
   outline: 0 none;

   transform: scale(1.05);
   transition: 0.3s;

}

input[type="password"]:focus{
   border-color: #4285F4;
   box-shadow: 1px 1px 1px #4285F4 
   inset, 1px 1px 0px#4285F4;
   outline: 0 none;

   transform: scale(1.05);
   transition: 0.3s;

}

label{
	padding: 0px;
}

input[type="text"]:focus + label{
   color: #498afb;
}

.content_red{
	padding-top: 25px;
	padding-right: 100px;
	padding-left: 100px;
	text-align: center;
}

